[global]
log.error_file = '/var/log/cherrypy.error.log'
log.accessfile = '/var/log/cherrypy.access.log'
tree.myapp = cherrypy.Application(HttpServer.httpserver, '/') 
server.socket_host = '0.0.0.0'
server.socket_port = 80
tools.sessions.on = True
[/style.css]
tools.staticfile.on = True
tools.staticfile.filename = "/root/HttpServer/templates/style.css"
[/bootstrap]
tools.staticdir.on = True
tools.staticdir.dir = "/root/HttpServer/templates/bootstrap" 
[/js]
tools.staticdir.on = True
tools.staticdir.dir = "/root/HttpServer/templates/jquery"
